<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!--loop over the collection of products-->
                <div *ngFor="let temp of products" class="col-md-3">
                    <div class="product-box">
                        <img src="{{ temp.imageUrl }}" class="img-responsive">
                        <h1>{{ temp.name }}</h1>
                        <div class="Price">{{ temp.unitPrice | currency:'USD'}}</div>
                        <a href ="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

